* {
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
    text-align: center;
    box-sizing: border-box;
}

.main {
    color: black;
}

.frozencaramel {
    color: #E9967A;
}

.macaroons {
    color: #5F9EA0;
}

.funnelcake {
    color: #DEB887;
}

.head {
    font-family: "Lucida Console", monospace;
}

.recipe {
    height: auto;
    max-width: 100%;
}

div {
    padding: 30px;
    text-align: center;
    color: white;
}

.menu {
    background-color: turquoise;
}